@model Lab1DBwithASP.Models.ApartmentModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Additional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Additional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Left)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Left)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" href="/Apartment/Edit/?id=@Model.Id&year=@Model.Year&month=@Model.MonthId" role="button">Edit</a>
    <a href="/Apartment/Index/?year=@Html.DisplayFor(value=>Model.Year)">Back to List</a>
</div>
