@model IEnumerable<Lab1DBwithASP.Models.ApartmentModel>

@{
    ViewData["Title"] = "View";
}
<p>
    <h1>Appartments sheet</h1>

    @*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

    <div class="form-group">
        <a class="btn btn-primary" href="/Apartment/CreateForm/" role="button">Create New</a>
    </div>
</p>



<table class="table table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First)
            </th>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                Mar
            </th>
            <th>
                Apr
            </th>
            <th>
                May
            </th>
            <th>
                June
            </th>
            <th>
                July
            </th>
            <th>
                Aug
            </th>
            <th>
                Sept
            </th>
            <th>
                Oct
            </th>
            <th>
                Nov
            </th>
            <th>
                Dec
            </th>
            <th>
                Remaining payment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            var collection = from element in Model
                             orderby element.MonthId ascending
                             group element by element.Id;
            double remaining = 0;
            int month = 0;
        }

@foreach (var item in collection) {

        <tr>
            <td>
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        @Html.DisplayFor(modelItem => item.ElementAt(0).Id)
                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/Product/ShowDetails/@item.ElementAt(0).Id">Add Data</a></li>
                        <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.ElementAt(0).Id">Delete</a></li>
                    </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElementAt(0).First)
            </td>
                @foreach(var subitem in item)
                {
                    <td>
                        <a class="btn btn-outline-primary" href="/Apartment/Details/@subitem.Id" role="button">
                        @Html.DisplayFor(modelItem => subitem.Additional)  <br>
                        @Html.DisplayFor(modelItem => subitem.Paid)        <br>
                        @Html.DisplayFor(modelItem => subitem.Left) </a>
                        @{remaining = subitem.Left; month = subitem.MonthId;}
                    </td>
                }
            <td>
                @if(month == 12)
                @Html.DisplayFor(modelItem => remaining)
            </td>
        </tr>
}

    </tbody>
</table>

